################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Web/bin
/Web/obj
/Web.Tests/bin/Debug
/Web.Tests/obj
/Web/Web.csproj.user
/TestResults/dfb36ef8-9807-41dc-a441-e85d05976b6b
/Frasset.v12.suo
/Frasset.v12.suo
/Frasset.v12.suo
/Frasset.v12.suo
/Interfaces/obj/Debug
/Logic/obj/Debug
/Models/obj/Debug
/Objects/obj/Debug
/Contexts/bin/Debug
/Contexts/obj/Debug
/Interfaces/bin/Debug
/Logic/bin/Debug
/Models/bin/Debug
/Objects/bin/Debug
/Repositories/obj/Debug
/Api/bin
/Api/obj/Debug
/WebOld/bin
/WebOld/obj/Debug
/WebOld.Tests/bin/Debug
/WebOld.Tests/obj/Debug
/Frasset.v11.suo
/WebOld
/WebOld.Tests
/PublishScripts
